html,
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
}

#camera {
    filter: contrast(85%);
}

#menu {
    visibility: hidden;
    height: 64px;
    background: rgba(37, 37, 37, 0.6);
}

#volume {
    height: 8px;
    appearance: none;
    border-radius: 25px;
    background-color: rgb(46, 46, 46);
}

.spacer {
    flex-grow: 1;
}